<tr>
  <td>
    <div class="resultName">
      <h4>{{name}}</h4>
      {{full_address}}<br />
      <img src="{{rating_img}}"/>
    </div>
    <div class="addToButton"><a href="/{{yelp_id}}"><button type="button" data-id={{yelp_id}} class="viewDetails btn btn-success btn-xs">View Details</button></a>
   </div>
  </td> 
</tr>