<!DOCTYPE html>
<html>

<head>

  <title>CoffeeConnect</title>
  <meta charset="utf-8" />

  <!-- Uncomment to make IE8 render like IE7 -->
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <%= include_gon %>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Diplomata' rel='stylesheet' type='text/css'>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  
</head>

<body>

  <div class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand coffeeconnect-logo" href="/">CoffeeConnect</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <div class="col-sm-3 col-md-3 pull-right">
          <form accept-charset="UTF-8" action="/places" class="new_yelpfind navbar-form" id="new_yelpfind" method="post">
            <div class="input-group">
              <input name="utf8" type="hidden" value="&#x2713;" />
              <input name="authenticity_token" type="hidden" value="vDC9W9LjOCVXbABGWOG7T5ufWcQZzfLMAgwOQTiLX8M=" />
              <input class="form-control" id="yelpfind_zipcode" name="yelpfind[zipcode]" placeholder="zip code" type="text" />

              <div class="input-group-btn">
                  <button id="search_button" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class = "container">
    <%= flash[:notice] %>
  </div>

  <%= yield %>

  <script src ="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js">
  </script>
  <script src ="http://cdnjs.cloudflare.com/ajax/libs/sugar/1.3.9/sugar.min.js">
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_KEY']%>&sensor=true">
  </script>

  <%= javascript_include_tag "application" %>

</body>

</html>
